{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Exemplo do Widget Belvo Connect</title>
    <script src="https://cdn.belvo.io/belvo-widget-1-stable.js" async></script>
</head>
<body>
    <h1>Exemplo do Widget I-Extrato Connect</h1>
    <p>Clique no botão abaixo para iniciar o processo de incorporação do widget Belvo Connect:</p>

    <div id="belvo"></div> <!-- Placeholder para o widget Belvo Connect -->
    <button id="embedWidgetButton">Incorporar Widget</button>
    <script type="text/javascript">
               
        function openBelvoWidget(accessToken) {
            belvoSDK.createWidget(accessToken, {
                // Add your startup configuration here.
                callback: (link, institution) => successCallbackFunction(link, institution),
                onExit: (data) => onExitCallbackFunction(data),
                onEvent: (data) => onEventCallbackFunction(data)
            }).build();
        }
        
        document.getElementById("embedWidgetButton").addEventListener("click", function() {
            const accessToken = "{{ access_token }}"; // Obtendo o token de acesso do contexto do Django.
            openBelvoWidget(accessToken); // Uma vez que o token de acesso é obtido, o widget é iniciado.
        });
    </script>


<!--Callbacks-->


</body>
</html>
